<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
  <style>
    h1 {
      color: rgb(241, 216, 72);
    }
  </style>
</head>
<body class="background-color">
    <div class="container mt-5">
      <div class="card text-center">
        <div class="card-body">
          <h1 class="card-text">Please fill all fields.</h1>
          <a href="/" class="btn-style btn-warning">Home</a>
        </div>
      </div>
    </div>
</body>

</html>
