<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About</h1>
      <div class="row">
        <div class="col-md-6 col-12 hero-text">
          <figure>
            <img src="images/robot.jpg" alt="grow" height="400px" width="auto">
          </figure>
        </div>
        {{!-- right side --}}
        <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
          <h1>Student | IndiDev | Learner 😀</h1>
          <p>Hi There ! Welcome to my Blog.
            I Love exploring and learning about new technologies.
          </p>
          <a href="#serviceid" class="btn-style btn-warning">Read more</a>
        </div>

      </div>
    </div>
  </div>
</div>
