<div class="container" style="align:center">
<div class="container-fluid navbar-style py-3" style="background-image: linear-gradient(135deg, #37ecba 10%, #5AC5C7 100%);">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <div class="container-fluid" style="background-image: linear-gradient(135deg, #37ecba 10%, #55CBC5 100%);">
          <a class="navbar-brand" href="/" id="logo">Blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon left"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="./about-me">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./contact-info">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./post">Gallery</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
</div>
